body{
    background-color: black;
    margin: 0;
    padding: 0;
}
header{
    background-color: darkslategray;
    padding: 5px;
    top: 0px;
    width: 100%;
    position: absolute;
}
nav ul{
    display: flex;
    justify-content: center;
}
nav li a{
    text-decoration: none;
    color: beige;
    font-size: 18px;
    transition: 1s;
    border-radius: 2px;
}
nav ul li{
    list-style: none;
    float: left;
    padding-left: 10px;
}
nav ul li a:hover{
    background-color: rgb(146, 139, 7);
}
nav ul li a:focus{
    background-color: blue;
    color: white;
    text-align: center;
}

div{
   background-color: rgb(7, 40, 40); 
   width: 1100px;
   height: auto;
   margin-left: auto;
   margin-right: auto;
}
img{
    width: 950px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
margin-top: 50px;
margin-left: 80px;
border-radius: 2px;
}
a{
    text-decoration: none;
    color: blue;
}
.t{
    background-color: red;
    color: beige;
    border-radius: 3px;
    left: 80px;
    position: relative;
    width: 60px;
    height: 30px;
}
h2{
    margin-left: 80px;
    color: white;
}
.text{
    left: 80px;
    position: relative;
    color: white;
}
.t:hover{
    background-color: blue;
}

footer{
    background-color: darkslategray;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
ul li{
    color: beige;
    list-style: none;
}
footer ul{
    margin: 0.5px;
    padding: 0;
}